@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.animate-grid {
  animation: grid 20s linear infinite;
}

@keyframes grid {
  0% {
    transform: translate(0, 0);
  }
  100% {
    /* Combine them into one property */
    transform: translate(40px, 40px);
  }
}
